<div class="container">
	<div class="post">
		<h1>Example title</h1>
		<small class="post-date">March 15, 2015</small>
		<img ng-src="{{currentImage}}" ng-click="nextImage()" class="img-responsive">
		<p>Lorem ipsum dolor sit amet, nostrud forensibus ea sit, usu at putant nostrum vivendum, an justo graeco has. An usu scripta placerat, pro ea sonet verear. Ad nobis percipitur pro. Eos ad eius assum insolens, soleat eirmod epicuri eam ne. Vis dico enim facete ex, graece laoreet ius te.

Sed eu ipsum tritani, sit eu ferri nonumy appareat, sit in splendide temporibus mediocritatem. Docendi deseruisse nec ea. Id iudico graeci laoreet est, modo expetenda cum at, eum cu expetenda reprimique. Est nihil mollis cu, mel deleniti liberavisse necessitatibus ea.

Cu legimus verterem duo, duo vidit petentium gubergren eu. Te saepe nostrum definiebas mei, dicat admodum perfecto ei per. Ut recusabo argumentum vis. Ne ullum choro est, quo quaestio omittantur no, delenit denique adipisci no mel. Amet nostro temporibus pri no, eam magna tantas meliore et, tollit deserunt has no. Quo fabellas reprimique constituam ne.

Mollis atomorum sapientem nec ut. Vis veniam impetus eligendi at, his id assum minim, vero habeo facilisis ex nec. Doming euripidis reprimique ne cum, esse dolore molestiae ea mei. Impetus aliquip postulant nam ne. Partiendo voluptatum mel ne, an cum nibh movet possit. Cu suas probo salutatus ius, his at adhuc solet delicatissimi.</p>
	</div>
	<div my-shared-scope data="1"></div>
	<div my-shared-scope data="3"></div>
	<div my-shared-scope data="2"></div>
</div>