/* app css stylesheet */

.login-container {
  max-width: 322px;
  padding: 15px;
  margin: 10% auto;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.login-container h1 {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

.post {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 17px;
}

.post-date {
  color:#aaa;
}

.post-image-container {
  width: 100%;
  height: 600px;
  background-color: black;
  position: relative;
}

.post-image-container img {
  position: absolute;
  margin-top: 0%;
}

.comment-feed {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 17px;
}

.comment-list {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}

.comment-list li {
  /*border: 1px solid black;*/
  margin:0;
  margin-top:10px;
}

.comment-list li div {
  display:table-cell;
}

.comment-text {
    margin:0;
}

.comment-date {
  color:#aaa;
}

.comment-image {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}

.comment-image img {
  width:100%;
  height: 30px;
  margin-top: 4px;
  /*border-radius:50%;*/
}

.profile-picture {
  float: left;
  overflow:hidden;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid white;
  box-shadow: 1px 1px 8px #bbb;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-transparency {
  opacity: 0.95;
}
