<div class="container login-container">
    <h1>Login</h1>
    <!-- Google -->
    <a class="btn btn-block btn-social btn-lg btn-google-plus" ng-click="googlelogin()">
    	<i class="fa fa-google"></i>Sign in with Google
  	</a>
  	<!-- Twitter -->
	<a class="btn btn-block btn-social btn-lg btn-twitter">
		<i class="fa fa-twitter"></i>Sign in with Twitter
	</a>
	<!-- Facebook -->
	<a class="btn btn-block btn-social btn-lg btn-facebook" ng-click="facebooklogin()">
		<i class="fa fa-facebook"></i>Sign in with Facebook
	</a>
	<!-- OpenID -->
	<a class="btn btn-block btn-social btn-lg btn-openid">
		<i class="fa fa-openid"></i>Sign in with OpenID
	</a>
	<!-- Pinterest -->
	<a class="btn btn-block btn-social btn-lg btn-pinterest">
		<i class="fa fa-pinterest"></i>Sign in with Pinterest
	</a>
	<!-- instagram -->
	<a class="btn btn-block btn-social btn-lg btn-instagram">
		<i class="fa fa-instagram"></i>Sign in with Intstagram
	</a>
</div>